server {
  listen [::]:80;
  listen 80;

  server_name www.{{ deploy_host_name }};

  return 301 $scheme://{{ deploy_host_name }}$request_uri;
}

server {
  # listen [::]:80 accept_filter=httpready; # for FreeBSD
  # listen 80 accept_filter=httpready; # for FreeBSD
  listen [::]:80;
  listen 80;

  # The host name to respond to
  server_name {{ deploy_host_name }};

  # Path for static files
  root /var/www/{{ deploy_host_name }}/public;

  # Custom error pages
  include h5bp/errors/custom_errors.conf;

  # Include the basic h5bp config set
  include h5bp/basic.conf;

  # set client body size to 10M
  client_max_body_size 10M;

  # Turn on Passenger
  passenger_enabled on;
  passenger_ruby {{ deploy_ruby_command }};
}